

#botao-cadastrar {
	margin-top: 20px;	
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

h1 {
	text-align: center;
}

.lista-de-aplicacoes .ui-panel {
	width: 19%;
	float: left;
	box-sizing: border-box;
	margin: 10px .5%;
}

.lista-de-aplicacoes .botao-action {
	float: right;
}

.lista-de-aplicacoes img {
	width: 100%;
	height: 150px;
}

#iframe-aplicacao {
	display: block;
	width: 100%;
	margin-top: 20px;
}