/* overrides css*/

.ui-widget, .ui-widget table, .ui-widget button{
	font-size: 0.95em;
}

/* .ui-widget table, .ui-inputtextarea, .ui-autocomplete-multiple-container {
	width: 100%;
}*/

.ui-inputtextarea, .ui-autocomplete-multiple-container {
	width: 100%;
}

.ui-widget-content {
	/*border: none;*/
	background: #fff;
	padding: 0;
}

.ui-layout-north {
	
}

.ui-layout-north .ui-layout-unit-content {
	background-color: #aa0;
	color: #fff;
}

.ui-dialog, .ui-autocomplete-panel, .ui-selectonemenu-items{
	background-color: #fff;
}

.ui-fileupload-content {
	/*display: none;*/
}
    
