<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<ui:composition template="/template.xhtml">

    <ui:define name="conteudo">
        <p:growl autoUpdate="true"/>

        <p:button style="margin: 10px;" outcome="index" value="Voltar" icon="ui-icon-arrowthick-1-w"/>
        <h1 style="text-align: center;">Cadastro de aplicações</h1>

        <h:form enctype="multipart/form-data">
            <h:panelGrid columns="2" cellspacing="20"
                         style="margin: 0 auto; width: 800px;">

                <h:outputLabel value="Nome: "/>
                <p:inputText value="#{cadastroDeAplicacaoBean.aplicacao.nome}"
                             placeholder="Digite o nome da aplicação" style="width: 250px;"
                             required="true" requiredMessage="Digite o nome da aplicação"/>

                <h:outputLabel value="Contexto: "/>
                <p:inputText value="#{cadastroDeAplicacaoBean.aplicacao.contexto}"
                             placeholder="Digite o contexto da aplicação" style="width: 250px;"
                             required="true" requiredMessage="Digite o contexto da aplicação"/>

                <h:outputLabel value="Selecione a imagem de preview: "/>
                <p:fileUpload value="#{cadastroDeAplicacaoBean.imagem}"
                              mode="simple" skinSimple="true" required="true"
                              requiredMessage="Selecione um imagem de preview"/>

                <h:outputLabel
                        value="Senha (para remover ou atualizar a aplicação): "/>
                <p:password value="#{cadastroDeAplicacaoBean.aplicacao.senha}"
                            placeholder="Digite uma senha" style="width: 250px;"
                            required="true" requiredMessage="Digite uma senha"/>

                <p:commandButton ajax="false" value="Enviar"
                                 action="#{cadastroDeAplicacaoBean.salvar}"/>
            </h:panelGrid>
        </h:form>


    </ui:define>

</ui:composition>
</html>