<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">


<ui:composition template="/template.xhtml">


    <ui:define name="conteudo">
        <h1>Lojas</h1>

        <p:button style="margin: 10px;" outcome="cadastro-de-aplicacao"
                  value="Cadastrar aplicação" icon="ui-icon-plusthick"/>

        <div class="lista-de-aplicacoes">

            <h:form prependId="false">
                <p:growl autoUpdate="true" showDetail="false"/>
            </h:form>

            <h:form id="aplicacoes">
                <ui:repeat var="aplicacao" value="#{paginaInicialBean.aplicacoes}">

                    <p:panel header="#{aplicacao.nome}">
                        <a href="#{request.contextPath}/verAplicacao.xhtml?id=#{aplicacao.id}">
                            <img src="#{request.contextPath}/imagens?aplicacaoId=#{aplicacao.id}" alt=""/>
                        </a>

                        <f:facet name="actions">
                            <p:commandButton
                                             icon="ui-icon-trash"
                                             actionListener="#{paginaInicialBean.setAplicacaoId(aplicacao.id)}"
                                             onclick="PF('senha-remover-aplicacao').show();"
                                             styleClass="ui-priority-primary botao-action"/>

                            <p:commandButton
                                             icon="ui-icon-arrowrefresh-1-n"
                                             actionListener="#{paginaInicialBean.setAplicacaoId(aplicacao.id)}"
                                             onclick="PF('atualizar-arquivo-war').show();"
                                             update="atualizar-arquivo-war-form"
                                             styleClass="ui-priority-primary botao-action"/>
                        </f:facet>


                    </p:panel>

                </ui:repeat>
            </h:form>
        </div>

        <p:dialog header="Digite a senha" widgetVar="senha-remover-aplicacao" resizable="false">
            <h:form>
                <p:password value="#{paginaInicialBean.senha}" />

                <p:commandButton
                        icon="ui-icon-arrowthick-1-e"
                        actionListener="#{paginaInicialBean.removerAplicacao}"
                        update="aplicacoes @form"
                        oncomplete="PF('senha-remover-aplicacao').hide();" />


            </h:form>
        </p:dialog>

        <p:dialog header="Atualizar arquivo War" widgetVar="atualizar-arquivo-war" resizable="false">
            <h:form id="atualizar-arquivo-war-form">
                <c:if test="#{!paginaInicialBean.autenticado}">
                    <p:panel header="Autentique-se primeiro">
                        <h:outputLabel value="Digite a senha: "/>
                        <p:password value="#{paginaInicialBean.senha}" />
                        <p:commandButton
                                icon="ui-icon-arrowthick-1-e"
                                actionListener="#{paginaInicialBean.autenticar}"
                                update="@form" />
                    </p:panel>
                    <br />
                    <br />
                </c:if>
                <p:panel>
                    <h:outputLabel value="Selecione o arquivo war: "/>

                    <p:fileUpload
                                fileUploadListener="#{paginaInicialBean.atualizarArquivoWar}"
                                mode="advanced"
                                disabled="#{!paginaInicialBean.autenticado}"
                                dragDropSupport="false"
                                sizeLimit="100000000"
                                invalidSizeMessage="O tamanho do arquivo excede o limite"
                                oncomplete="PF('atualizar-arquivo-war').hide()"
                                fileLimit="1"
                                label="Escolher"
                                uploadLabel="Enviar"
                                cancelLabel="Cancelar"
                                allowTypes="/(\.|\/)(war)$/" />
                </p:panel>
            </h:form>
        </p:dialog>



    </ui:define>

</ui:composition>
</html>