<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Cinema</title>

	<link rel="icon" type="image/png" href="#{request.contextPath}/resources/img/favicon.ico"/>
	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/resources/css/overrides.css" />
	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/resources/css/app.css" />
</h:head>
<h:body>

	<h:form>
		<p:growl autoUpdate="true" sticky="true" />
	</h:form>

	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="110">
			<header>
				<h1>
					Shopping
				</h1>
			</header>
		</p:layoutUnit>


		<p:layoutUnit position="center">
			<div class="content">
				<ui:insert name="conteudo" />
			</div>
		</p:layoutUnit>

	</p:layout>

	<ui:insert name="modal" />
	<script type="text/javascript"
		src="#{request.contextPath}/resources/js/app.js" />
</h:body>
</html>