<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<ui:composition template="/template.xhtml">

    <ui:define name="conteudo">
        <p:growl autoUpdate="true"/>

        <h:form>
            <p:focus for="terminal" />

            <p:terminal id="terminal" widgetVar="term" commandHandler="#{terminalBean.handleCommand}"
                        welcomeMessage="Welcome to PrimeFaces Terminal, how are you today?" />

            <p:commandButton type="button" value="Clear" icon="ui-icon-trash" onclick="PF('term').clear()" style="margin-top:10px"/>
        </h:form>

    </ui:define>

</ui:composition>
</html>