<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cinema</title>

    <link rel="icon" type="image/png" href="#{request.contextPath}/resources/img/favicon.ico"/>
    <link type="text/css" rel="stylesheet"
          href="#{request.contextPath}/resources/css/overrides.css" />
    <link type="text/css" rel="stylesheet"
          href="#{request.contextPath}/resources/css/app.css" />
</h:head>
<h:body>

    <p:button outcome="index" value="Voltar" icon="ui-icon-arrowthick-1-w" />

    <c:if test="#{verAplicacaoBean.aplicacao != null}">
        <iframe id="iframe-aplicacao" src="/#{verAplicacaoBean.aplicacao.contexto}"></iframe>
        <script>
            window.onload = function() {
                var height = window.innerHeight;
                document.getElementById("iframe-aplicacao").style.height = (height - 80) + "px";
            };

        </script>
    </c:if>

</h:body>
</html>